@import '../../Styles/variables';

.cities {
  margin: 30px auto;

  h4 {
    margin: 0;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
    text-align: left;
  }

  &__list {
    list-style: none;
    @include displayFlex(flex-start, flex-start, wrap);
  }

  &__single__city {
    flex: 0 0 33%;
    padding: 0 15px;
    margin-bottom: 30px;
    @include displayFlex(center, center, wrap);

    &__inner {
      min-height: 200px;
      border: 1px solid lightgray;
      width: 100%;
      height: 100%;
      border-radius: 3px;
      position: relative;
      padding: 10px 15px;

    }
  }

}

.sigle__city_button {
  display: flex;
  width: 100%;
  justify-content: flex-end;

  .bg_red, .bg_green {
    cursor: pointer;
    width: 40px;
    height: 39px;
    padding: 5px 10px;
    margin-left: 15px;
    text-align: center;
    border: none;
    color: white;
    font-family: $font;
    border-radius: 50%;
    transition: transform .1s ease-in-out;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      font-size: 29px;
    }

    &:hover {
      transform: scale(1.1);
    }

  }
}