@import './_variables.scss';

header {
  min-height: $mh-header;
  background-color: $c-header;
  @include displayFlex(center, center, wrap);

  h1 {
    text-align: center;
    color: lighten(#e4ff82, 25%);
  }
}

$breakpoint-lg: 1200px;
$breakpoint-md: 768px;
$breakpoint-sm: 560px;

main {
  @media screen and (min-width: $breakpoint-sm) {
    max-width: 530px;
  }
  @media screen and (min-width: $breakpoint-md) {
    max-width: 690px;
  }
  @media screen and (min-width: $breakpoint-lg) {
    max-width: 1140px;
  }
  padding: 0 15px;
  min-height: calc(100vh - 60px);
  margin: 0 auto;
}

.text-center {
  text-align: center;
}


.text-input {
  position: relative;
  margin-top: 50px;
  display: flex;

  input[type="text"] {
    display: inline-block;
    width: 300px;
    height: 40px;
    box-sizing: border-box;
    outline: none;
    border: 1px solid lightgray;
    border-radius: 3px 0 0 3px;
    padding: 10px;
    transition: all 0.1s ease-out;
    font-family: $font;
    font-size: 1rem;
    letter-spacing: 1.2px;
    border-right: none;
  }

  input[type="text"]:focus {
    padding: 10px;
    transition: all 0.3s ease-out;
    transition-delay: 0.2s;
  }
}

::placeholder {
  font-family: $font;
  font-size: 1rem;
  letter-spacing: 1.2px;
}


